{{ $baseUrl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main role="main">

<div class="row">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
      <h1><span style="color:rgb(22, 21, 47)">(Apache) Big data <span style="color:red">&#10084;</span> Kubernetes</span></h1>
    <p></p>
    <p>Flokkr is a containerization project for<b>Apache Flink, Kafka, Ozone, Spark</b> 
      and other big data project to run them in <b>Kubernetes</b> with a GitOps based approach.</p>
    <p>It provides:</br></br>
    1. ready to use containers for various Bigdata project</br>
    2. framework to generate Kubernetes resources with any type of customization</br>
    3. various configuration set for different use cases (Kerberos, HA, TDE, etc.)<br/> 
    4. helper tools to use the projects in cloud-native environments 
   </p>
    <p>Please note that this project is <b>NOT</b> an official <a href="https://apache.org">Apache</a> project</p>
	</div>
</div>

{{ range where .Site.Pages "Title" "_index" }}
	<div class="row doc-main">
		<p class="doc-entry-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></p>
		{{ .Content }}
	</div>
{{ end }}
<h2>Containers</h2>


  <table class="table">
        <tr>
           <td>name</td>
           <td>version (latest)</td>
           <td>Example K8s deployments</td>
           <td>Kubernetes test tatus</td>
        </tr>
{{ range $.Site.Data.component }}
     <tr>
     <td>
        {{ .name }}
     </td>
     <td>
        {{ .versions }}
      </td>
      <td>
          <a href="https://github.com/flokkr/docker-{{.name}}/tree/master/examples">Kubernetes example</a>
      </td>
      <td>
        <img src="https://github.com/flokkr/docker-{{.name}}/workflows/test/badge.svg"/>
      </td>
     </tr>
{{ end }}
</table>

<p>Note: there are some other containers on dockerhub, but they are either experimental or retired. The latest version from this table are tested with CI.x

<h2>Getting started</h2>
{{range where .Site.Pages "Title" "Getting started"}}
        
			 <div>
          {{.Content}}
			 </div>
          {{end}}


          <h2>Next steps</h2>
          {{range where .Site.Pages "Title" "Next steps"}}
                  
                    <div>
                    {{.Content}}
                    </div>
                    {{end}}

                    
	<h2>News</h2>
	<div>
		<ul class="doc-list-category">
      {{ range (where .Site.Pages "Title" "eq" "Posts")}}
      {{ range ( first .Site.Params.settings.recentPostsLength .Pages) }}
        <li><a href="{{.URL}}">{{.Title}}</a></li>
      {{ end }}
      {{ end }}
		</ul>
	</div>

   {{range where .Site.Pages "Title" "Presentations"}}
          <h2>{{.Title}}</h2>
			 <div>
          {{.Content}}
			 </div>
          {{end}}


{{ $title := .Site.Title }}
{{ with .Site.Params.withSitePosts }}
<hr />

<div class="row doc-main text-center">
	<a href="{{ $baseUrl }}/post">See posts for {{ $title }}</a>
</div>
{{ end }}

</main>

{{ partial "footer.html" . }}
